<div class="container mt-4" style="max-width: 500px;">
  <h3 class="mb-4 text-center">Registrar Producto</h3>

    @if (error()) {
    <div class="alert alert-danger" role="alert">
      {{ error() }}
    </div>
  }

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input id="nombre" type="text" formControlName="nombre" class="form-control" placeholder="Nombre del producto" />
      @if (form.controls.nombre.touched && form.controls.nombre.invalid) {
        <div class="text-danger mt-1">El nombre es obligatorio.</div>
      }
    </div>

    <div class="mb-3">
      <label for="categoria" class="form-label">Categoría</label>
      <input id="categoria" type="text" formControlName="categoria" class="form-control" placeholder="Categoría del producto" />
      @if (form.controls.categoria.touched && form.controls.categoria.invalid) {
        <div class="text-danger mt-1">La categoría es obligatoria.</div>
      }
    </div>

    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input id="precio" type="number" formControlName="precio" class="form-control" placeholder="0" />
      @if (form.controls.precio.touched && form.controls.precio.invalid) {
        <div class="text-danger mt-1">El precio es obligatorio y debe ser ≥ 0.</div>
      }
    </div>

    <div class="d-grid mb-2">
      @if (isAdmin()) {
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-save"></i> Guardar
        </button>
      }
    </div>

    <div class="d-grid">
      <button type="button" class="btn btn-secondary" [routerLink]="['/products']">
        <i class="bi bi-arrow-left-circle"></i> Volver al listado
      </button>
    </div>
  </form>
</div>